.sidebar {
    right: 0;
    top: 0;
    height: 100vh;
    width: 82px;
    background-color: #fff;
    /* border-left: 1px solid #ccc;
    padding-top: 1rem; */
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 4rem;
    
  }
  
.sidebar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
  }
  
.sidebar-item {
    font-size: 0.9rem;
    margin-left: 0.5rem;
    color: #333;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 60px 0; /* Add space between sidebar items */
    font-size: 1rem; /* Standard text size */
    cursor: pointer;
    color: black;
    text-align: left; 
    margin-left: 20px;
  }
  
.sidebar-item .sidebar-icon {
    color: #ff6600; /* Schneider's orange color */
    margin-left: 0.7rem;
    display: flex; /* Optional: Ensures the icon is a flex item */
    align-items: center;
  }
  