.custom-button {
  width: 8.5rem; /* Fixed width */
  height:35px; /* Fixed height */
  padding: 3px 5px;
  font-size: 0.85rem;
  color: #000000;
  background-color: #CFCFCF; /* Default button color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Darker shadow */
  align-items: center;
  }

  
  .custom-button:hover {
    background-color: #ff5a14b4; /* Hover color */
    color: white;
    transform: scale(1.05); /* Slight scaling on hover */
  }
  
  /* Styling for active button */
  .custom-button.active {
    border-left: 4px solid #FF5C14;
    background-color: #ffffff; /* Active color - darker shade */
    transform: scale(1.1); /* Slightly larger when active */
  }
  
  /* Ensure the hover effect works even when active */
  .custom-button.active:hover {
    background-color: #FF5C14; /* Darker hover color for active button */
  }
  