/* Left Sidebar styling */
.left-sidebar {
  grid-area: left-sidebar;
  background-color: #ffffff;
  padding: 1rem;
  width: 3rem;
  display: flex;
  flex-direction: column;
}

.sidebar-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 60px 0; /* Add space between sidebar items */
  font-size: 1rem; /* Standard text size */
  cursor: pointer;
  color: black;
}

.sidebar-item.clicked {
  color: orange; /* Title turns orange when clicked */
}

/* Manage Capacity, Trailer Rental with subtitle styling */
.manage-capacity, .trailer-rental {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: black; /* Keep the same color and style as the main buttons */
}

.sidebar-subtitle {
  font-size: 1rem; /* Match the main button size */

}

/* More button styling */
.more-option {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.more-icon {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  width: 24px; /* Width of the 3 circles */
}

.circle {
  width: 5px;
  height: 5px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 50%;
  margin: 2px;
}

/* Hover and Click Effects */
.sidebar-item:hover, .sidebar-subtitle:hover {
  background-color: #ccc;
  padding-left: 5px;
  transition: padding-left 0.3s ease;
}

.sidebar-item.active, .sidebar-item.clicked {
  color: orange; /* Title turns orange when clicked */
  border-bottom: 3px solid #ff6600;
  font-weight: bold;
}


.spacer {
  height: 15px;
}

.contact-button {
  background-color: orange; /* Button color */
  border: none; /* Remove border */
  border-radius: 4px; /* Rounded corners */
  color: white; /* Text color */
  padding: 10px 15px; /* Padding inside the button */
  cursor: pointer; /* Pointer cursor on hover */
  margin-top: 10px; /* Space above the button */
  width: 100%; /* Full width of the box */
}

.contact-button:hover {
  background-color: darkorange; /* Darker color on hover */
}

.search-results-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto; /* Center the container */
  gap: 20px; /* Space between the filter and results */
  padding: 20px;

}

/* Main Content styling */
.main-content {
  width: 100vw; /* Full viewport width */
  min-height: 100vh;
  height: auto;
  background-color: #E8E5E1;
  /* padding: 05px; Add some padding */
  margin: 0 auto; /* Center the main content */
  margin-top: 2.8rem; /* Match the navbar height */
  padding-bottom: 50px;

}

.search-form {
  display: flex; /* Use Flexbox for the form layout */
  justify-content: space-between; /* Space between the left and right sections */
}

.form-left {
  flex: 3; /* Allow more space for the left section */
  margin-right: 20px; /* Add some space between left and right sections */
}

.form-right {
  flex: 2; /* Make the right section take less space */
}

.input-group {
  display: flex;
  margin-bottom: 10px;
  align-items: left;
  margin-bottom: 15px; /* Spacing between the input groups */
}

.input-group label {
  flex: 0 0 150px; /* Adjust this width as needed */
  margin-right: 10px; /* Space between label and input */
}

.input-group input {
  flex: 1; /* Allow the input to take the remaining space */
  margin-right: 10px; /* add space between input fields */
}

.miles-section {
  display: flex; /* Flexbox for miles inputs */
  flex-direction: column; /* Stack them vertically */
  margin-top: 5px; /* Space above the miles section */

}

.miles-inputs {
  display: flex; /* Use Flexbox for miles inputs */
  justify-content: space-between; /* Space between min and max inputs */
}

.miles-inputs div {
    margin-right: 05px; /* Space between inputs */
}

.form-bottom {
  display: flex; /* Align buttons in a row */
  justify-content: space-between; /* Space out the buttons */
}

.button-container {
  display: flex;
  gap: 1rem;
  background-color: #E8E5E1;
  font-size: 0.8rem;
  padding: 10px;
  justify-content: left;
  align-items: center;
  position: absolute;
  left: 82px;
  right: 150px;
  margin: 0 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.card-container {
  padding-top: 20px;
  justify-content: flex-end;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 20px 0; /* Space between card and other elements */
  /* width: 30%;  */
  width: 332px; /* Optional: Set max width for card */
  height: 615px;
  margin-right: 10px;
  right: 0; /* Stick to the right edge */
  top: 35px; /* Adjust as needed to control vertical positioning */
  position: fixed;
}

.search-filter-container {
  /* flex-direction: column; */
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 100%;
  height: 850px;
  margin-left: 8px;
  position: absolute;
  left: 90px;
  top:95px;
}

.dropdown-title {
  left:20px;
  width:200px;
  font-size: 14px;     /* Adjust the font size as needed */
}

.dropdown-container{
  display: flex;
  flex-direction: row;

}


/* Search Form styling */
.search-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 60%;
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px; /* Rounded corners for the form */
  margin: 0 auto; /* Center the search form */
}

.form-left, .form-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.miles-section {
  grid-column: span 2; /* Span across both columns */
  text-align: center; /* Center the title */
}

.miles-inputs {
  display: flex;
  justify-content: space-between;
}

/* Label styling */
.form-label {
  flex: 3;
  font-weight: bold;
  color: black;
}

input[type="checkbox"] {
  margin-right: 10px;
}

input, select {
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-bottom {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.search-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #0056b3;
}

.button-container-2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr; /* Stack columns vertically */
    grid-template-areas:
      "header"
      "main-content"
      "left-sidebar"
      "right-sidebar";
  }

  .search-form {
    grid-template-columns: 1fr; /* Make the form single column */
    width: 90%; /* Increase width for mobile */
  }

  .horizontal-sidebar {
    width: 90%; /* Adjust horizontal sidebar width */
  }

  .left-sidebar, .right-sidebar {
    padding: 10px; /* Reduce padding on mobile */
  }
}

.form-bottom {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.clear-btn {
  padding: 10px 20px;
  background-color: #f0f0f0;
  color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px; /* Space between buttons */
}

.favorite-btn {
  padding: 10px 20px;
  background-color: #f0f0f0;
  color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px; /* Space between buttons */
}

.search-btn {
  padding: 10px 20px;
  background-color: orange; /* Set background to orange */
  color: white; /* Set text color to white */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-btn:hover {
  background-color: darkorange; /* Darker shade on hover */
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px; /* Spacing between the input groups */
}

.input-group label {
  flex: 0 0 150px;
  margin-right: 05px;
}
input[type="date"] {
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
}

.input-group input {
  flex: 1;
  margin-right: 05px; /* Add some space between input fields */
  margin-left: 20px;
  padding: 5px;
}

.miles-section h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}


.input-row {
  flex: 5;
  display: flex;
  align-items: left;
  /* justify-content: space-between; */
  margin-bottom: 05px;
}

.input-row input {
  flex: 1;
  max-width: 200px; /* Set a maximum width if needed */
  padding: 6px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  /*flex: 3;*/
}

.input-row checkbox-wrapper {
  flex: 1;
  max-width: 200px; /* Set a maximum width if needed */
  padding: 6px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.input-row-second {
  flex: 1;
  display: flex;
}

.form-label {
  width: 30%;
  margin-right: 2px;
  font-size: 14px;
  font-weight: bold;
}

.dynamic-card-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%; /* Make it full width */
  max-width: 1600px; /* Adjust max width as desired */
  margin: 0 auto; /* Center it */
}

.results-card {
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  width: 100%;
}

.results-section {
  position: relative;
  margin-top: 110px; /* Adjust this value to push it further down */
  left: 79px; /* Optional: Adjust horizontal alignment */
  width: 48%; /* Maintain the width for proper layout */
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.search-filter-container, .results-section {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 48%; /* Adjust to fit side by side */
}

.results-card-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%; /* Full width */
  max-width: 1600px; /* Optional max width */
  margin: 0 auto; /* Center container */
}

/* input[type="text"],
input[type="date"] {
  width: 80%; /* Adjust width according to your design */
  /* padding: 6px;
  font-size: 14px;
  flex: 2;
} */